        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            background-image: url(./images/bg\ image.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        h1 {
            text-align: left;
            font-size: 30px;
        }
        
        .container {
            max-width: 750px;
            margin: 100px auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 20px 35px rgba(11, 208, 126, 0.2);
            text-align: center;
            background-color: rgba(125, 129, 152, 0.692);
        }
        
        .inpt {
            position: relative;
            height: 45px;
            width: 90%;
            margin-bottom: 17px;
            border-radius: 25px;
            border: 3px;
            text-align: center;
        }
        
        .chckbox {
            position: relative;
            justify-content: left;
            gap: 3px;
        }
        
        .inpt2 {
            width: 350px;
            margin-top: 30px;
            flex: 2;
            min-width: 150px;
        }
        
        .inpt4 {
            display: flex;
        }
        
        .buttn {
            position: relative;
            height: 45px;
            width: 90%;
            margin-bottom: 17px;
            border-radius: 25px;
            border: 3px;
        }
        
        .signupbttn {
            background-color: black;
            color: white;
            position: relative;
            height: 45px;
            width: 90%;
            margin-bottom: 17px;
            border-radius: 25px;
            border: 3px;
            font-size: 20px;
        }